// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-bottom: 3px dashed @navigation-border;
    h1 {
        padding-left: 5%;
        color: @font-color;
    }
    .nav-links{
        display: flex;
        justify-content: flex-end;
        width: 60%;
    a{
        font-size: 1.6rem;
        margin: 0 5%;
        text-decoration: none;
        color: @font-color;
        }
    }
}

